---
const { imageUrl, link } = Astro.props;
---
<div id="promo-popup" style="position: fixed; top: 0; left: 0; width: 100vw; height: 100vh; background: red; z-index: 9999;">
  <h1>Si ves esto, el componente ya existe.</h1>
</div>